# Data Parsing

Here we will try to parse the Aminer V12 json file into CSV and seperate the year 2001

In [1]:
import numpy as np
import pandas as pd
import os, json, gc, re, random
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
#import plotly.express as px
import seaborn as sns
import pickle
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import logging
logging.basicConfig(level=logging.INFO)
transformers_logger = logging.getLogger("transformers")
transformers_logger.setLevel(logging.WARNING)

Defining the data file path

In [4]:
data_file = 'drive/My Drive/Capstone/Data/dblp.v12.json'

Using `yield` to load the JSON file in a loop to prevent Python memory issues if JSON is loaded directly

In [5]:
def get_metadata():
    with open(data_file, 'r', encoding='utf-8') as f:
        next(f)                                         #skip the first line
        for line in f:
            yield line
metadata = get_metadata()

In [6]:
paper_list = []
counter = 0
for paper in metadata:   
    paper = paper.strip(',')       # takes care of the errors with ',' in begining of the line
    if paper == None or paper == '' or paper == '[' or paper == ']' or len(paper) == 0:
        print('I got a null or empty string value for paper in a file')
    else:       
#         print(paper_dict)
#         print("")
#         doc_type = paper_dict.get('doc_type')
        try:
            paper_dict = json.loads(paper)
            year = int(paper_dict.get('year'))
            to_pop = ['page_start', 'page_end','doc_type','publisher','volume','issue','doi','alias_ids','title','indexed_abstract','fos','venue','authors']
            for i in to_pop:
                try:
                    paper_dict.pop(i)
                except:
                    pass 
            if year <= 2010:
              paper_list.append(paper_dict)
              counter += 1
            if (counter % 100000 == 0):
                print(counter)
                print(paper_dict)
        except:
            pass 
#paper_list

0
{'id': 1091, 'year': 2013, 'n_citation': 1, 'references': [2005687710, 2018037215]}
100000
{'id': 128134186, 'year': 2007, 'n_citation': 0}
200000
{'id': 1486651247, 'year': 2005, 'n_citation': 8, 'references': [1535182298, 1550040727, 1571142685, 2142152227]}
300000
{'id': 1532236086, 'year': 2004, 'n_citation': 4, 'references': [2061753595, 2099105076, 2135123541]}
400000
{'id': 1578639176, 'year': 2010, 'n_citation': 27, 'references': [1984249915, 1997556709, 2022553223, 2023199012, 2023758372, 2040244898, 2060353874, 2093331871, 2099997444, 2105893525, 2106281550, 2113922176, 2117088188, 2119494621, 2125669135, 2131499463, 2140871574, 2144333758, 2144377734, 2149874318, 2152621157, 2161537925, 2165741325, 2167306162, 2168803272]}
500000
{'id': 1790952784, 'year': 1995, 'n_citation': 0}
500000
{'id': 1790952937, 'year': 2012, 'n_citation': 0, 'references': [194197919, 1677409904, 2059331361, 2075133364, 2111308925, 2118877769, 2119605622, 2124386111, 2141720053, 2163943109]}
600000
{'id': 1971329766, 'year': 1995, 'n_citation': 6}
600000
{'id': 1971330008, 'year': 2012, 'n_citation': 3, 'references': [2098099733, 2112994948]}
600000
{'id': 1971330086, 'year': 2012, 'n_citation': 0, 'references': [1981998077, 2097095822, 2166808682]}
600000
{'id': 1971330258, 'year': 2013, 'n_citation': 9, 'references': [116621911, 1490728730, 1588126232, 1602181666, 1976184556, 2006896692, 2007610503, 2007955834, 2008806636, 2015268662, 2039947656, 2040014907, 2042956958, 2046819853, 2058449285, 2065151276, 2072144910, 2074660787, 2081487166, 2088243692, 2105525115, 2141286079, 2149906774]}
700000
{'id': 1990777116, 'year': 2006, 'n_citation': 20, 'references': [1925624685, 1992016522, 2049913483, 2059618665, 2107307934, 2113954151, 2120510885, 2122182632, 2123044411, 2124304549, 2130486540, 2147349935, 2157131949, 2165900899, 2294548604, 2753120485]}
700000
{'id': 1990777291, 'year': 2011, 'n_citation': 6, 'references': [1965222635, 2037225069, 2062459871, 2088342534, 2095008598, 2105638592, 2151763757, 2163485494]}
800000
{'id': 2009938563, 'year': 2000, 'n_citation': 3}
800000
{'id': 2009938659, 'year': 2013, 'n_citation': 27, 'references': [1967272661, 2068408009, 2076256534, 2092390732, 2105026358, 2119852777, 2122909041, 2134967881, 2158035776, 2170857744, 2623995625]}
900000
{'id': 2029439129, 'year': 1998, 'n_citation': 4, 'references': [2073625371]}
1000000
{'id': 2048915149, 'year': 2007, 'n_citation': 16, 'references': [2056324365]}
1100000
{'id': 2068269199, 'year': 2005, 'n_citation': 125, 'references': [1976585161, 1980029983, 2058287672, 2061064481, 2062551457, 2068758559, 2070051391, 2070561899, 2158455181, 2172171860]}
1200000
{'id': 2087830589, 'year': 1998, 'n_citation': 4, 'references': [2002103730, 2214215336, 2625412431]}
1300000
{'id': 2102304603, 'year': 2004, 'n_citation': 14, 'references': [1523326940, 2099200994, 2110527043, 2119245762, 2119331139, 2155976554]}
1300000
{'id': 2102304823, 'year': 2011, 'n_citation': 9, 'references': [1483307070, 1490092700, 1864173022, 1959782995, 1988029705, 2042845763, 2064169939, 2078881829, 2103393159, 2106706569, 2112040294, 2118906152, 2123241326, 2123487311, 2130422193, 2140641933, 2143864104, 2144903371, 2144936371, 2146861713, 2146881125, 2148820580, 2149390325, 2154202063, 2155620850, 2156570488, 2160320341, 2160337655, 2163844619, 2166543177, 2169346523, 2170239483]}
1400000
{'id': 2113927241, 'year': 1999, 'n_citation': 95, 'references': [1497280145, 2022922836, 2039552580, 2090623032, 2156737647, 2164502827]}
1500000
{'id': 2125490399, 'year': 2010, 'n_citation': 4, 'references': [2146193831, 2174164007, 2179051909]}
1600000
{'id': 2137115854, 'year': 1997, 'n_citation': 17, 'references': [1538922252, 1799452087, 2079994203, 2099040451, 2103450023, 2111621484, 2155754531, 2170517285]}
1700000
{'id': 2148798622, 'year': 2008, 'n_citation': 134, 'references': [13338109, 1479895593, 1520076654, 1576391096, 1594588104, 1599232982, 1689445748, 1858553808, 1968980002, 1984879178, 1990079212, 1991464299, 1998523455, 2009727399, 2022775778, 2098154993, 2109084784, 2110222014, 2132145314, 2133088989, 2152761983, 2160535740, 2163952039, 2166781513, 2167922853]}
1800000
{'id': 2160442456, 'year': 2008, 'n_citation': 2, 'references': [1977396974, 1991452220, 2015175446, 2078603002, 2081160992]}
1900000
{'id': 2172120796, 'year': 2000, 'n_citation': 69, 'references': [1503000515, 1594397476, 1793520216, 2088944761, 2109779438, 2145600675]}
2000000
{'id': 2583469485, 'year': 2004, 'n_citation': 0}
2100000
{'id': 3005322937, 'year': 2006, 'n_citation': 0}
2100000
{'id': 3005323028, 'year': 2015, 'n_citation': 0}
2200000
{'id': 2080324798, 'year': 2008, 'n_citation': 73, 'references': [2046558083, 2057211133, 2059308694, 2109028470, 2132311469, 2132413506, 2162991547]}
2200000
{'id': 2080328126, 'year': 2012, 'n_citation': 4}

In [7]:
# checking the length of data found
len(paper_list)

2262458

In [8]:
# now add the list into 
papers_df = pd.DataFrame(paper_list)

In [ ]:
papers_df = papers_df[['id','year']]

In [9]:
papers_df.info()
papers_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2262458 entries, 0 to 2262457
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   id          int64
 1   year        int64
 2   n_citation  int64
 3   references  object
dtypes: int64(3), object(1)
memory usage: 69.0+ MB

     id  year  n_citation                            references
0  1388  2000           1                                   NaN
1  1688  2009           6  [1560724230, 1986968751, 2156909104]
2  5411  2009           0                                   NaN
3  5781  2004           2                                   NaN
4  6762  2003           0                                   NaN

In [ ]:
papers_df = papers_df.drop('year', axis=1)

Let's Write the paper dataFrame into pickle for later use

In [10]:
path = 'drive/My Drive/Capstone/Data/papers_0_2010.'
papers_df.to_pickle(path + 'pkl')

In [ ]:
papers_df.to_csv(path + 'csv')