# Feature Extraction

### TODO

- Create the Tables for Authors, Venues
- Perform Feature Extractions
- Create the final table with the features

#### Adding the libraries

In [1]:
import pandas as pd
import matplotlib as plt
import ast
import numpy as np
import seaborn as sns
from statistics import mean

#### Adding the database

In [2]:
data_papers = pd.read_pickle('../Data/papers_clean.pkl')
data_papers.head()

,id,authors,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,references,fos,venue,indexed_abstract,alias_ids
0,75067,"[{'name': 'Narciso Cerpa', 'id': 2571766951}, ...",Comparing Estimated with Actual Efforts for a ...,2001,0,348,353,Conference,IIIS,,,,"[1989212489, 2007884971, 2014210483, 202969654...","[{'name': 'Software engineering', 'w': 0.46281...","{'raw': 'World Multiconference on Systemics, C...",NaN,NaN
1,40449,"[{'name': 'José Luis Martín', 'id': 2322634291...",Software Workbench for Movement Estimation bas...,2001,1,517,522,,,,,,NaN,"[{'name': 'Workbench', 'w': 0.59515}, {'name':...",{'raw': 'VIIP'},NaN,NaN
2,73220,"[{'name': 'John F. Duff', 'id': 2670839461}, {...",Parallel Molecular Dynamics on Scyld Clusters.,2001,0,,,,,,,,NaN,"[{'name': 'Chemical physics', 'w': 0.41215}, {...",{'raw': 'PPSC'},NaN,NaN
3,136660,"[{'name': 'Junji Tomita', 'id': 2097955466}, {...",Interactive Web Search by Graphical Query Refi...,2001,17,,,,,,,,"[1982451429, 1997841190, 2165612380]","[{'name': 'Query optimization', 'w': 0.70923},...",{'raw': 'WWW Posters'},"{'IndexLength': 78, 'InvertedIndex': {'through...",NaN
4,155019,"[{'name': 'Giuseppe Attardi', 'id': 1557751177...",PIQASso: PIsa Question Answering System,2001,46,566,607,Conference,NIST,,,,"[26591655, 1511749302, 1565963236, 2094276686,...","[{'name': 'Logical relations', 'w': 0.0}, {'na...","{'raw': 'Text REtrieval Conference', 'id': 253...","{'IndexLength': 140, 'InvertedIndex': {'tagger...",NaN

In [3]:
data_papers['fos'] = data_papers.fos.apply(lambda x:  ast.literal_eval(x))
data_papers['authors'] = data_papers.authors.apply(lambda x:  ast.literal_eval(x))
data_papers['venue'] = data_papers.venue.apply(lambda x:  ast.literal_eval(x))

ValueError: malformed node or string: [{'name': 'Software engineering', 'w': 0.46281}, {'name': 'Computer science', 'w': 0.45752}, {'name': 'Software', 'w': 0.58462}, {'name': 'Management science', 'w': 0.44663}]

#### The list of features:

* Topic Rank
* Diversity
* Productivity
* H-index
* Author Rank
* Venue Rank
* Maximum Past Influence of Authors (Past Influence of Authors)
* Total Past Influence of Authors (Past Influence of Authors)
* Maximum Past Influence of Venues (Past Influence of Venues)
* Total Past Influence of Venues (Past Influence of Venues)
* Versatility
* Novelty
* Sociality
* Authority
* Venue Centrality
* First two years performance 
* Yearly citations

#### The features that need merge (like multi authors) will be calculated during feature file creation

#### Topic Rank

steps:

- take the fos of all rows
- take the unique values
- create a --- matrix where the columns are the topics and each row is a paper, if topic exist => 1, otherwise 0
- have a table with the topic as ID
- calculate the score for each ID ==> 
- third column should be the rank

INF(topic/d)= P(topic/d) * INF(paper)
score = sum(Weight of fos in Document * n_citation of that document) in all papers
rank = sort(score,ascending)

Table: topics (topic, score, rank)

##### forget for now

In [ ]:
topics = pd.DataFrame(data_papers['fos'])
len(topics)
print(topics['fos'][0])
topics['fos'] = topics.fos.apply(lambda x: [i['name'] for i in x])
print(topics['fos'][0])
topic_names = topics['fos'].tolist()
topics = [ item for elem in topic_names for item in elem]
print(len(topics))
print(len(set(topics)))
from collections import Counter
for i in set(topics):
    print(topics.count(i), i)
#topics[0:26]

#### Diversity

steps:

- loop the FOS sum the Shannon index
- Shannon index = -w Ln (w)

The higher the value the more diversity; The lower the value the more focused the paper is

https://en.wikipedia.org/wiki/Diversity_index

https://en.wikipedia.org/wiki/Entropy_(information_theory)

Table: paper

- min value is 0.0
- max value is 4.966 (but can be higher)
- look up function: -i*ln(i) on Desmos
- max value is 0.3679 at 0.3679

In [4]:
#diversity formula 
data_papers['diversity'] = data_papers['fos']
data_papers['diversity'] = data_papers.diversity.apply(lambda x: sum([-i['w']*np.log(i['w']) for i in x if i['w'] > 0.0]))

analyze the feature

In [5]:
print(data_papers['diversity'].head())
print(data_papers['diversity'].describe())
print(data_papers['n_citation'].corr(data_papers['diversity']))

0    1.388132
1    1.336829
2    1.439300
3    2.625360
4    3.433378
Name: diversity, dtype: float64
count    80237.000000
mean         2.935612
std          0.917869
min          0.000000
25%          2.372321
50%          3.203474
75%          3.616683
max          4.966107
Name: diversity, dtype: float64
0.054483790222072094

#### Author table

##### Adding paper IDs and citation to the table

In [6]:
#adding author_id to paper table
data_papers['author_id'] = data_papers['authors']
data_papers['author_id'] = data_papers.author_id.apply(lambda x: [i['id'] for i in x])

#creating author table
data_authors = data_papers[['id','authors', 'n_citation', 'fos']].to_numpy()
data_authors = [{**j,"paper_ids":i[0],"n_citations":i[2],"FOS":i[3]} for i in data_authors for j in i[1]]
data_authors_df = pd.DataFrame(data_authors)

#Merging the duplicate authors (based on id)
data_authors_df1 = data_authors_df.groupby(['id'])['paper_ids'].apply(list).reset_index()
data_authors_df2 = data_authors_df.groupby(['id'])['n_citations'].apply(list).reset_index()
data_authors_df3 = data_authors_df.groupby(['id'])['name'].first().reset_index()
data_authors_df4 = data_authors_df.groupby(['id'])['org'].first().reset_index()
data_authors_df5 = data_authors_df.groupby(['id'])['FOS'].apply(list).reset_index()

data_authors_df = pd.merge(data_authors_df1, data_authors_df2, on = "id", how = "inner")
data_authors_df = pd.merge(data_authors_df, data_authors_df3, on = "id", how = "inner")
data_authors_df = pd.merge(data_authors_df, data_authors_df4, on = "id", how = "inner")
data_authors_df = pd.merge(data_authors_df, data_authors_df5, on = "id", how = "inner")

data_authors_df['FOS'] = data_authors_df.FOS.apply(lambda x: [j for i in x for j in i])

data_authors_df.info()
data_authors_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130482 entries, 0 to 130481
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           130482 non-null  int64
 1   paper_ids    130482 non-null  object
 2   n_citations  130482 non-null  object
 3   name         130482 non-null  object
 4   org          87253 non-null   object
 5   FOS          130482 non-null  object
dtypes: int64(1), object(5)
memory usage: 7.0+ MB

,id,paper_ids,n_citations,name,org,FOS
0,16980,[1968315351],[31],Christoph Schwarzweller,"Facultät für Informatik, Universität Tübingen,...","[{'name': 'Mizar system', 'w': 0.67143}, {'nam..."
1,175887,[2500704710],[1],Michel Rudnianski,None,"[{'name': 'Simultaneous game', 'w': 0.61964}, ..."
2,191025,[1987151691],[11],Maria Divari,Dipartimento di Metodi e Modelli Matematici pe...,"[{'name': 'Discrete mathematics', 'w': 0.45679..."
3,222893,[2141229143],[33],N. Goharian,"Illinois Institute of Technology, Chicago, IL,...","[{'name': 'Inverted index', 'w': 0.61083}, {'n..."
4,255528,"[15209077, 1604202738]","[7, 0]",Torsten Heverhagen,University of Duisburg‑Essen,"[{'name': 'Computer architecture', 'w': 0.4547..."

#### Venue table

##### Adding paper IDs and citation to the table

In [7]:
#adding venue raw to paper table
data_papers['venue_raw'] = data_papers['venue']
data_papers['venue_raw'] = data_papers.venue_raw.apply(lambda x: x['raw'])

#creating venue table
data_venues = data_papers[['id','venue', 'n_citation']].to_numpy()
data_venues = [{**i[1],"paper_ids":i[0],"n_citations":i[2]} for i in data_venues]
data_venues_df = pd.DataFrame(data_venues)

#Merging the duplicate authors (based on id)
data_venues_df1 = data_venues_df.groupby(['raw'])['paper_ids'].apply(list).reset_index()
data_venues_df2 = data_venues_df.groupby(['raw'])['n_citations'].apply(list).reset_index()
data_venues_df3 = data_venues_df.groupby(['raw'])['id'].first().reset_index()
data_venues_df4 = data_venues_df.groupby(['raw'])['type'].first().reset_index()

data_venues_df = pd.merge(data_venues_df1, data_venues_df2, on = 'raw', how = "inner")
data_venues_df = pd.merge(data_venues_df, data_venues_df3, on = "raw", how = "inner")
data_venues_df = pd.merge(data_venues_df, data_venues_df4, on = "raw", how = "inner")

data_venues_df.info()
data_venues_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2649 entries, 0 to 2648
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raw          2649 non-null   object
 1   paper_ids    2649 non-null   object
 2   n_citations  2649 non-null   object
 3   id           1661 non-null   float64
 4   type         1661 non-null   object
dtypes: float64(1), object(4)
memory usage: 124.2+ KB

,raw,paper_ids,n_citations,id,type
0,,"[9758226, 27827714, 40304007, 48562292, 625118...","[1, 0, 0, 19, 26, 0, 33, 0, 238, 1, 1, 62, 118...",NaN,None
1,"""Submitted to: ACM Symposium on Mobile Ad Hoc ...",[2985285217],[1],NaN,None
2,"""Submitted to: The 2nd Los Alamos Computer Sci...",[2758804342],[1],NaN,None
3,(2001),"[1602367667, 853898022]","[23, 2]",NaN,None
4,(IACR ePrint Archive 2001/086 ). IACR,[1577976412],[10],NaN,None

#### Productivity

steps (table):

- option 1:
    - each row: [{'name':"name1",'id':"id1", 'org':"org1"},{'name':"name2",'id':, 'org':""},...]
    - a = [['name1','id1','org1'],...]
    - a = list(set(a))
    - a = [['name1','id1','org1', [paper_id1,paper_id2,..]],...]

- option 2:
    - [ [['name1','id1','org1'],[paper_id1]], ...]

- option 3*:
    - loop the papers and make this:
    - {'id1':['name1','org1',[paper_id1,paper_id2,..]],..}

steps (feature):
- len(papers)
- calculate the final value during the feature file creation

Table: Author (id, name, org, papers, productivity)

In [8]:
#gets the size of the paper IDs
data_authors_df['productivity'] = data_authors_df['paper_ids']
data_authors_df['productivity'] = data_authors_df.productivity.apply(lambda x: len(x))
data_authors_df.head()

,id,paper_ids,n_citations,name,org,FOS,productivity
0,16980,[1968315351],[31],Christoph Schwarzweller,"Facultät für Informatik, Universität Tübingen,...","[{'name': 'Mizar system', 'w': 0.67143}, {'nam...",1
1,175887,[2500704710],[1],Michel Rudnianski,None,"[{'name': 'Simultaneous game', 'w': 0.61964}, ...",1
2,191025,[1987151691],[11],Maria Divari,Dipartimento di Metodi e Modelli Matematici pe...,"[{'name': 'Discrete mathematics', 'w': 0.45679...",1
3,222893,[2141229143],[33],N. Goharian,"Illinois Institute of Technology, Chicago, IL,...","[{'name': 'Inverted index', 'w': 0.61083}, {'n...",1
4,255528,"[15209077, 1604202738]","[7, 0]",Torsten Heverhagen,University of Duisburg‑Essen,"[{'name': 'Computer architecture', 'w': 0.4547...",2

#### H-index

steps:
- use the code from before
- calculate the final value during the feature file creation

Table: Author (id, name, org, papers, productivity, h_index)

In [9]:
# calculates the H index using formula
data_authors_df['H_index'] = data_authors_df['n_citations']
data_authors_df['H_index'] = data_authors_df.H_index.apply(lambda x: sum(j >= i + 1 for i, j in enumerate(sorted(list(x), reverse=True))))
data_authors_df.head()

,id,paper_ids,n_citations,name,org,FOS,productivity,H_index
0,16980,[1968315351],[31],Christoph Schwarzweller,"Facultät für Informatik, Universität Tübingen,...","[{'name': 'Mizar system', 'w': 0.67143}, {'nam...",1,1
1,175887,[2500704710],[1],Michel Rudnianski,None,"[{'name': 'Simultaneous game', 'w': 0.61964}, ...",1,1
2,191025,[1987151691],[11],Maria Divari,Dipartimento di Metodi e Modelli Matematici pe...,"[{'name': 'Discrete mathematics', 'w': 0.45679...",1,1
3,222893,[2141229143],[33],N. Goharian,"Illinois Institute of Technology, Chicago, IL,...","[{'name': 'Inverted index', 'w': 0.61083}, {'n...",1,1
4,255528,"[15209077, 1604202738]","[7, 0]",Torsten Heverhagen,University of Duisburg‑Essen,"[{'name': 'Computer architecture', 'w': 0.4547...",2,1

#### Author Rank

steps:
- get citation of the papers the author has
- take average
- give rank 

Table: Author (id, name, org, papers, productivity, h_index, citations, ave_cite, author_rank)

In [10]:
#calculates the averge citations of the author and gives rank (descending)
data_authors_df['average_citations'] = data_authors_df.n_citations.apply(mean)
data_authors_df['author_rank'] = data_authors_df['average_citations'].rank(ascending = 0)
data_authors_df.head(20)

,id,paper_ids,n_citations,name,org,FOS,productivity,H_index,average_citations,author_rank
0,16980,[1968315351],[31],Christoph Schwarzweller,"Facultät für Informatik, Universität Tübingen,...","[{'name': 'Mizar system', 'w': 0.67143}, {'nam...",1,1,31.000000,27837.5
1,175887,[2500704710],[1],Michel Rudnianski,None,"[{'name': 'Simultaneous game', 'w': 0.61964}, ...",1,1,1.000000,105085.5
2,191025,[1987151691],[11],Maria Divari,Dipartimento di Metodi e Modelli Matematici pe...,"[{'name': 'Discrete mathematics', 'w': 0.45679...",1,1,11.000000,56071.5
3,222893,[2141229143],[33],N. Goharian,"Illinois Institute of Technology, Chicago, IL,...","[{'name': 'Inverted index', 'w': 0.61083}, {'n...",1,1,33.000000,26436.5
4,255528,"[15209077, 1604202738]","[7, 0]",Torsten Heverhagen,University of Duisburg‑Essen,"[{'name': 'Computer architecture', 'w': 0.4547...",2,1,3.500000,85617.5
5,262284,"[243653900, 1666403142, 2025254909, 2564676597...","[5, 2, 6, 0, 25]",Denis R. Hirschfeldt,Victoria University of Wellington,"[{'name': 'Combinatorics', 'w': 0.43175}, {'na...",5,3,7.600000,66703.5
6,287632,[2026989220],[0],Wolfgang Goerigk,Institut für Informatik und Praktische Mathema...,"[{'name': 'Functional verification', 'w': 0.59...",1,0,0.000000,120353.0
7,288726,[2150845439],[22],Conrad H. Ziesler,"EECS Department, University of Michigan, Ann A...","[{'name': 'Adiabatic process', 'w': 0.52054}, ...",1,1,22.000000,36400.5
8,309187,[2088442135],[5],Roger McHaney,Kansas State University; USA,"[{'name': 'Enterprise resource planning', 'w':...",1,1,5.000000,77436.0
9,334463,"[2108560469, 2240663079]","[642, 2]",M. Calimlim,None,"[{'name': 'Transaction processing', 'w': 0.454...",2,2,322.000000,1605.5
10,346337,"[1526989548, 1768569162]","[40, 5]",Jacques Chassin de Kergommeaux,Montbonnot Saint Martin,"[{'name': 'Data structure', 'w': 0.51662}, {'n...",2,2,22.500000,35786.0
11,350025,[2152002570],[73],Bruce R. Gerratt,"Bureau of Glottal Affairs, Division of Head/Ne...","[{'name': 'Breathy voice', 'w': 0.0}, {'name':...",1,1,73.000000,11829.5
12,372735,[2151406766],[18],Zhang Subing,"Beijing Univ. of Posts & Telecommun., , China","[{'name': 'Equal-cost multi-path routing', 'w'...",1,1,18.000000,42133.0
13,430271,[1525726734],[53],Bernard P. Serpette,Sophia-Antipolis,"[{'name': 'Programming language', 'w': 0.45689...",1,1,53.000000,16847.5
14,442130,"[1635136650, 1755021944, 1792900668]","[8, 3, 0]",Babak N. Araabi,"Dept. of Elec. and Comp. Eng., Univ. of Tehran...","[{'name': 'Discrete mathematics', 'w': 0.44843...",3,2,3.666667,85303.0
15,454733,"[1971566432, 2164947336]","[7, 2]",Françoise Clérin-Debart,"GREYC, CNRS UPRESA 6072, Université de Caen, 1...","[{'name': 'Agent based systems', 'w': 0.0}, {'...",2,2,4.500000,79914.0
16,475755,[1866426924],[0],Brian B. Avants,University of Pennsylvania,"[{'name': 'Pattern recognition', 'w': 0.44376}...",1,0,0.000000,120353.0
17,492030,"[167606103, 2034539869, 2165817097, 2170329425]","[7, 12, 16, 39]",Ralph Neuneier,Siemens AG,"[{'name': 'Decentralised system', 'w': 0.476},...",4,4,18.500000,41354.0
18,527970,[1492385613],[5],Thilo Pionteck,Darmstadt Univ. of Technology#TAB#,"[{'name': 'CAD', 'w': 0.45347}, {'name': 'Comp...",1,1,5.000000,77436.0
19,559420,[2188342160],[4],Artiom Alhazov,None,"[{'name': 'Bottleneck', 'w': 0.56545}, {'name'...",1,1,4.000000,82723.5

#### Venue Rank

steps (table):
- same way as author
- loop the papers and make this:
- {'id1':['raw1',[paper_id1,paper_id2,..]],..}


steps (feature):
- get citation of the papers the venue has
- take average
- give rank


table: Venue (id, raw (or name), papers(list of ids), citations, ave_citation, rank)

In [11]:
data_venues_df["ave_citation"] = data_venues_df.n_citations.apply(mean)
data_venues_df["venue_rank"] = data_venues_df["ave_citation"].rank(na_option='bottom', method='max', ascending = False)
data_venues_df.head(10)

,raw,paper_ids,n_citations,id,type,ave_citation,venue_rank
0,,"[9758226, 27827714, 40304007, 48562292, 625118...","[1, 0, 0, 19, 26, 0, 33, 0, 238, 1, 1, 62, 118...",NaN,None,103.146435,123.0
1,"""Submitted to: ACM Symposium on Mobile Ad Hoc ...",[2985285217],[1],NaN,None,1.000000,2113.0
2,"""Submitted to: The 2nd Los Alamos Computer Sci...",[2758804342],[1],NaN,None,1.000000,2113.0
3,(2001),"[1602367667, 853898022]","[23, 2]",NaN,None,12.500000,1120.0
4,(IACR ePrint Archive 2001/086 ). IACR,[1577976412],[10],NaN,None,10.000000,1229.0
5,01-23,[1600168179],[7],NaN,None,7.000000,1438.0
6,"1, pp 119-122 (2001)",[2990086175],[0],NaN,None,0.000000,2649.0
7,"10th World Congress on Medical Informatics, ME...","[2213940930, 2228014075, 2582815946, 258838070...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2]",NaN,None,0.307692,2185.0
8,11th IFAC Symposium on System Identification,[2781989230],[51],NaN,None,51.000000,330.0
9,11th IMEKO TC4 Symposium on Trends in Electric...,[2904577717],[0],NaN,None,0.000000,2649.0

#### Maximum Past Influence of Authors (Past Influence of Authors)

steps:
- max of citation

Table: Author (id, name, org, papers, productivity, h_index, citations, ave_cite, author_rank, author_MPI)

In [12]:
# gets the highest value in the citations 
data_authors_df['author_MPI'] = data_authors_df.n_citations.apply(max)
data_authors_df.head(20)

,id,paper_ids,n_citations,name,org,FOS,productivity,H_index,average_citations,author_rank,author_MPI
0,16980,[1968315351],[31],Christoph Schwarzweller,"Facultät für Informatik, Universität Tübingen,...","[{'name': 'Mizar system', 'w': 0.67143}, {'nam...",1,1,31.000000,27837.5,31
1,175887,[2500704710],[1],Michel Rudnianski,None,"[{'name': 'Simultaneous game', 'w': 0.61964}, ...",1,1,1.000000,105085.5,1
2,191025,[1987151691],[11],Maria Divari,Dipartimento di Metodi e Modelli Matematici pe...,"[{'name': 'Discrete mathematics', 'w': 0.45679...",1,1,11.000000,56071.5,11
3,222893,[2141229143],[33],N. Goharian,"Illinois Institute of Technology, Chicago, IL,...","[{'name': 'Inverted index', 'w': 0.61083}, {'n...",1,1,33.000000,26436.5,33
4,255528,"[15209077, 1604202738]","[7, 0]",Torsten Heverhagen,University of Duisburg‑Essen,"[{'name': 'Computer architecture', 'w': 0.4547...",2,1,3.500000,85617.5,7
5,262284,"[243653900, 1666403142, 2025254909, 2564676597...","[5, 2, 6, 0, 25]",Denis R. Hirschfeldt,Victoria University of Wellington,"[{'name': 'Combinatorics', 'w': 0.43175}, {'na...",5,3,7.600000,66703.5,25
6,287632,[2026989220],[0],Wolfgang Goerigk,Institut für Informatik und Praktische Mathema...,"[{'name': 'Functional verification', 'w': 0.59...",1,0,0.000000,120353.0,0
7,288726,[2150845439],[22],Conrad H. Ziesler,"EECS Department, University of Michigan, Ann A...","[{'name': 'Adiabatic process', 'w': 0.52054}, ...",1,1,22.000000,36400.5,22
8,309187,[2088442135],[5],Roger McHaney,Kansas State University; USA,"[{'name': 'Enterprise resource planning', 'w':...",1,1,5.000000,77436.0,5
9,334463,"[2108560469, 2240663079]","[642, 2]",M. Calimlim,None,"[{'name': 'Transaction processing', 'w': 0.454...",2,2,322.000000,1605.5,642
10,346337,"[1526989548, 1768569162]","[40, 5]",Jacques Chassin de Kergommeaux,Montbonnot Saint Martin,"[{'name': 'Data structure', 'w': 0.51662}, {'n...",2,2,22.500000,35786.0,40
11,350025,[2152002570],[73],Bruce R. Gerratt,"Bureau of Glottal Affairs, Division of Head/Ne...","[{'name': 'Breathy voice', 'w': 0.0}, {'name':...",1,1,73.000000,11829.5,73
12,372735,[2151406766],[18],Zhang Subing,"Beijing Univ. of Posts & Telecommun., , China","[{'name': 'Equal-cost multi-path routing', 'w'...",1,1,18.000000,42133.0,18
13,430271,[1525726734],[53],Bernard P. Serpette,Sophia-Antipolis,"[{'name': 'Programming language', 'w': 0.45689...",1,1,53.000000,16847.5,53
14,442130,"[1635136650, 1755021944, 1792900668]","[8, 3, 0]",Babak N. Araabi,"Dept. of Elec. and Comp. Eng., Univ. of Tehran...","[{'name': 'Discrete mathematics', 'w': 0.44843...",3,2,3.666667,85303.0,8
15,454733,"[1971566432, 2164947336]","[7, 2]",Françoise Clérin-Debart,"GREYC, CNRS UPRESA 6072, Université de Caen, 1...","[{'name': 'Agent based systems', 'w': 0.0}, {'...",2,2,4.500000,79914.0,7
16,475755,[1866426924],[0],Brian B. Avants,University of Pennsylvania,"[{'name': 'Pattern recognition', 'w': 0.44376}...",1,0,0.000000,120353.0,0
17,492030,"[167606103, 2034539869, 2165817097, 2170329425]","[7, 12, 16, 39]",Ralph Neuneier,Siemens AG,"[{'name': 'Decentralised system', 'w': 0.476},...",4,4,18.500000,41354.0,39
18,527970,[1492385613],[5],Thilo Pionteck,Darmstadt Univ. of Technology#TAB#,"[{'name': 'CAD', 'w': 0.45347}, {'name': 'Comp...",1,1,5.000000,77436.0,5
19,559420,[2188342160],[4],Artiom Alhazov,None,"[{'name': 'Bottleneck', 'w': 0.56545}, {'name'...",1,1,4.000000,82723.5,4

#### Total Past Influence of Authors (Past Influence of Authors)

steps:
- total citation

Table: Author (id, name, org, papers, productivity, h_index, citations, ave_cite, author_rank, author_MPI, author_TPI)

In [13]:
#sum of the citations
data_authors_df['author_TPI'] = data_authors_df.n_citations.apply(sum)
data_authors_df.head(20)

,id,paper_ids,n_citations,name,org,FOS,productivity,H_index,average_citations,author_rank,author_MPI,author_TPI
0,16980,[1968315351],[31],Christoph Schwarzweller,"Facultät für Informatik, Universität Tübingen,...","[{'name': 'Mizar system', 'w': 0.67143}, {'nam...",1,1,31.000000,27837.5,31,31
1,175887,[2500704710],[1],Michel Rudnianski,None,"[{'name': 'Simultaneous game', 'w': 0.61964}, ...",1,1,1.000000,105085.5,1,1
2,191025,[1987151691],[11],Maria Divari,Dipartimento di Metodi e Modelli Matematici pe...,"[{'name': 'Discrete mathematics', 'w': 0.45679...",1,1,11.000000,56071.5,11,11
3,222893,[2141229143],[33],N. Goharian,"Illinois Institute of Technology, Chicago, IL,...","[{'name': 'Inverted index', 'w': 0.61083}, {'n...",1,1,33.000000,26436.5,33,33
4,255528,"[15209077, 1604202738]","[7, 0]",Torsten Heverhagen,University of Duisburg‑Essen,"[{'name': 'Computer architecture', 'w': 0.4547...",2,1,3.500000,85617.5,7,7
5,262284,"[243653900, 1666403142, 2025254909, 2564676597...","[5, 2, 6, 0, 25]",Denis R. Hirschfeldt,Victoria University of Wellington,"[{'name': 'Combinatorics', 'w': 0.43175}, {'na...",5,3,7.600000,66703.5,25,38
6,287632,[2026989220],[0],Wolfgang Goerigk,Institut für Informatik und Praktische Mathema...,"[{'name': 'Functional verification', 'w': 0.59...",1,0,0.000000,120353.0,0,0
7,288726,[2150845439],[22],Conrad H. Ziesler,"EECS Department, University of Michigan, Ann A...","[{'name': 'Adiabatic process', 'w': 0.52054}, ...",1,1,22.000000,36400.5,22,22
8,309187,[2088442135],[5],Roger McHaney,Kansas State University; USA,"[{'name': 'Enterprise resource planning', 'w':...",1,1,5.000000,77436.0,5,5
9,334463,"[2108560469, 2240663079]","[642, 2]",M. Calimlim,None,"[{'name': 'Transaction processing', 'w': 0.454...",2,2,322.000000,1605.5,642,644
10,346337,"[1526989548, 1768569162]","[40, 5]",Jacques Chassin de Kergommeaux,Montbonnot Saint Martin,"[{'name': 'Data structure', 'w': 0.51662}, {'n...",2,2,22.500000,35786.0,40,45
11,350025,[2152002570],[73],Bruce R. Gerratt,"Bureau of Glottal Affairs, Division of Head/Ne...","[{'name': 'Breathy voice', 'w': 0.0}, {'name':...",1,1,73.000000,11829.5,73,73
12,372735,[2151406766],[18],Zhang Subing,"Beijing Univ. of Posts & Telecommun., , China","[{'name': 'Equal-cost multi-path routing', 'w'...",1,1,18.000000,42133.0,18,18
13,430271,[1525726734],[53],Bernard P. Serpette,Sophia-Antipolis,"[{'name': 'Programming language', 'w': 0.45689...",1,1,53.000000,16847.5,53,53
14,442130,"[1635136650, 1755021944, 1792900668]","[8, 3, 0]",Babak N. Araabi,"Dept. of Elec. and Comp. Eng., Univ. of Tehran...","[{'name': 'Discrete mathematics', 'w': 0.44843...",3,2,3.666667,85303.0,8,11
15,454733,"[1971566432, 2164947336]","[7, 2]",Françoise Clérin-Debart,"GREYC, CNRS UPRESA 6072, Université de Caen, 1...","[{'name': 'Agent based systems', 'w': 0.0}, {'...",2,2,4.500000,79914.0,7,9
16,475755,[1866426924],[0],Brian B. Avants,University of Pennsylvania,"[{'name': 'Pattern recognition', 'w': 0.44376}...",1,0,0.000000,120353.0,0,0
17,492030,"[167606103, 2034539869, 2165817097, 2170329425]","[7, 12, 16, 39]",Ralph Neuneier,Siemens AG,"[{'name': 'Decentralised system', 'w': 0.476},...",4,4,18.500000,41354.0,39,74
18,527970,[1492385613],[5],Thilo Pionteck,Darmstadt Univ. of Technology#TAB#,"[{'name': 'CAD', 'w': 0.45347}, {'name': 'Comp...",1,1,5.000000,77436.0,5,5
19,559420,[2188342160],[4],Artiom Alhazov,None,"[{'name': 'Bottleneck', 'w': 0.56545}, {'name'...",1,1,4.000000,82723.5,4,4

#### Maximum Past Influence of Venue (Past Influence of Venue)

steps:
- max of citation

table: Venue (id, raw (or name), papers(list of ids), citations, ave_citation, rank, venur_MPI)

In [14]:
data_venues_df["venue_MPI"] = data_venues_df.n_citations.apply(max)
data_venues_df.head(10)

,raw,paper_ids,n_citations,id,type,ave_citation,venue_rank,venue_MPI
0,,"[9758226, 27827714, 40304007, 48562292, 625118...","[1, 0, 0, 19, 26, 0, 33, 0, 238, 1, 1, 62, 118...",NaN,None,103.146435,123.0,5638
1,"""Submitted to: ACM Symposium on Mobile Ad Hoc ...",[2985285217],[1],NaN,None,1.000000,2113.0,1
2,"""Submitted to: The 2nd Los Alamos Computer Sci...",[2758804342],[1],NaN,None,1.000000,2113.0,1
3,(2001),"[1602367667, 853898022]","[23, 2]",NaN,None,12.500000,1120.0,23
4,(IACR ePrint Archive 2001/086 ). IACR,[1577976412],[10],NaN,None,10.000000,1229.0,10
5,01-23,[1600168179],[7],NaN,None,7.000000,1438.0,7
6,"1, pp 119-122 (2001)",[2990086175],[0],NaN,None,0.000000,2649.0,0
7,"10th World Congress on Medical Informatics, ME...","[2213940930, 2228014075, 2582815946, 258838070...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2]",NaN,None,0.307692,2185.0,2
8,11th IFAC Symposium on System Identification,[2781989230],[51],NaN,None,51.000000,330.0,51
9,11th IMEKO TC4 Symposium on Trends in Electric...,[2904577717],[0],NaN,None,0.000000,2649.0,0

#### Total Past Influence of Venue (Past Influence of Venue)

steps:
- total citation

table: Venue (id, raw (or name), papers(list of ids), citations, ave_citation, rank, venur_MPI, venur_TPI)

In [15]:
data_venues_df["venue_TPI"] = data_venues_df.n_citations.apply(sum)
data_venues_df.head(10)

,raw,paper_ids,n_citations,id,type,ave_citation,venue_rank,venue_MPI,venue_TPI
0,,"[9758226, 27827714, 40304007, 48562292, 625118...","[1, 0, 0, 19, 26, 0, 33, 0, 238, 1, 1, 62, 118...",NaN,None,103.146435,123.0,5638,53533
1,"""Submitted to: ACM Symposium on Mobile Ad Hoc ...",[2985285217],[1],NaN,None,1.000000,2113.0,1,1
2,"""Submitted to: The 2nd Los Alamos Computer Sci...",[2758804342],[1],NaN,None,1.000000,2113.0,1,1
3,(2001),"[1602367667, 853898022]","[23, 2]",NaN,None,12.500000,1120.0,23,25
4,(IACR ePrint Archive 2001/086 ). IACR,[1577976412],[10],NaN,None,10.000000,1229.0,10,10
5,01-23,[1600168179],[7],NaN,None,7.000000,1438.0,7,7
6,"1, pp 119-122 (2001)",[2990086175],[0],NaN,None,0.000000,2649.0,0,0
7,"10th World Congress on Medical Informatics, ME...","[2213940930, 2228014075, 2582815946, 258838070...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2]",NaN,None,0.307692,2185.0,2,4
8,11th IFAC Symposium on System Identification,[2781989230],[51],NaN,None,51.000000,330.0,51,51
9,11th IMEKO TC4 Symposium on Trends in Electric...,[2904577717],[0],NaN,None,0.000000,2649.0,0,0

#### Versatility

steps:
- add column topics to table author (format: {'FOS1':average w, 'FOS2':average w, ...})
- go over the FOS of papers of author
    - if FOS in dic, value = value + w/productivity
    - if not, create new key with FOS name and value FOS w/productivity
- what we get per row {'FOS1':average w, 'FOS2':average w, ...}
- loop the FOS sum the Shannon index
- Shannon index = -w Ln (w)


Table: Author (id, name, org, papers, productivity, h_index, citations, ave_cite, author_rank, author_MPI, author_TPI, versatility)

In [16]:
#turns the list of list of dictionaries into list of dictionaries
data_authors_df['versatility'] = data_authors_df['FOS']
data_authors_df['FOS'] = data_authors_df.FOS.apply(lambda x: [{list(i.values())[0]:list(i.values())[1]} for i in x if list(i.values())[1] > 0.0])

#makes a unique list of all the topics with weights > 0.0
data_authors_df['versatility'] = data_authors_df.versatility.apply(lambda x: list(set([i['name'] for i in x if list(i.values())[1] > 0.0])))
#turns the list into dictionary where the key is the topic and the value is a list of the weights for that topic
data_authors_df['versatility'] = data_authors_df.apply(lambda x: {i:[list(j.values())[0] for j in x.FOS if list(j.keys())[0] == i] for i in x.versatility}, axis=1)
#gets the average of the weights of the topics
data_authors_df['versatility'] = data_authors_df.apply(lambda x: {i:sum(x.versatility[i])/x.productivity for i in x.versatility}, axis = 1)
#diversity or versatility formula
data_authors_df['versatility'] = data_authors_df.versatility.apply(lambda x: sum([-x[i]*np.log(x[i]) for i in x]))

data_authors_df.head(20)

,id,paper_ids,n_citations,name,org,FOS,productivity,H_index,average_citations,author_rank,author_MPI,author_TPI,versatility
0,16980,[1968315351],[31],Christoph Schwarzweller,"Facultät für Informatik, Universität Tübingen,...","[{'Mizar system': 0.67143}, {'Polynomial': 0.4...",1,1,31.000000,27837.5,31,31,3.399512
1,175887,[2500704710],[1],Michel Rudnianski,None,"[{'Simultaneous game': 0.61964}, {'Computer sc...",1,1,1.000000,105085.5,1,1,3.021000
2,191025,[1987151691],[11],Maria Divari,Dipartimento di Metodi e Modelli Matematici pe...,"[{'Discrete mathematics': 0.45679}, {'Monotoni...",1,1,11.000000,56071.5,11,11,3.194574
3,222893,[2141229143],[33],N. Goharian,"Illinois Institute of Technology, Chicago, IL,...","[{'Inverted index': 0.61083}, {'Data mining': ...",1,1,33.000000,26436.5,33,33,3.615504
4,255528,"[15209077, 1604202738]","[7, 0]",Torsten Heverhagen,University of Duisburg‑Essen,"[{'Computer architecture': 0.45475}, {'Program...",2,1,3.500000,85617.5,7,7,4.205697
5,262284,"[243653900, 1666403142, 2025254909, 2564676597...","[5, 2, 6, 0, 25]",Denis R. Hirschfeldt,Victoria University of Wellington,"[{'Combinatorics': 0.43175}, {'Computer scienc...",5,3,7.600000,66703.5,25,38,4.304823
6,287632,[2026989220],[0],Wolfgang Goerigk,Institut für Informatik und Praktische Mathema...,"[{'Functional verification': 0.59637}, {'Progr...",1,0,0.000000,120353.0,0,0,3.457091
7,288726,[2150845439],[22],Conrad H. Ziesler,"EECS Department, University of Michigan, Ann A...","[{'Adiabatic process': 0.52054}, {'Clock gener...",1,1,22.000000,36400.5,22,22,3.831178
8,309187,[2088442135],[5],Roger McHaney,Kansas State University; USA,"[{'Enterprise resource planning': 0.59413}, {'...",1,1,5.000000,77436.0,5,5,1.946845
9,334463,"[2108560469, 2240663079]","[642, 2]",M. Calimlim,None,"[{'Transaction processing': 0.45497}, {'Data m...",2,2,322.000000,1605.5,642,644,5.067839
10,346337,"[1526989548, 1768569162]","[40, 5]",Jacques Chassin de Kergommeaux,Montbonnot Saint Martin,"[{'Data structure': 0.51662}, {'Visualization'...",2,2,22.500000,35786.0,40,45,5.583159
11,350025,[2152002570],[73],Bruce R. Gerratt,"Bureau of Glottal Affairs, Division of Head/Ne...","[{'Terminology': 0.44682}, {'Communication': 0...",1,1,73.000000,11829.5,73,73,2.812253
12,372735,[2151406766],[18],Zhang Subing,"Beijing Univ. of Posts & Telecommun., , China","[{'Equal-cost multi-path routing': 0.64493}, {...",1,1,18.000000,42133.0,18,18,4.014442
13,430271,[1525726734],[53],Bernard P. Serpette,Sophia-Antipolis,"[{'Programming language': 0.45689}, {'Computer...",1,1,53.000000,16847.5,53,53,3.361447
14,442130,"[1635136650, 1755021944, 1792900668]","[8, 3, 0]",Babak N. Araabi,"Dept. of Elec. and Comp. Eng., Univ. of Tehran...","[{'Discrete mathematics': 0.44843}, {'Fuzzy cl...",3,2,3.666667,85303.0,8,11,8.624021
15,454733,"[1971566432, 2164947336]","[7, 2]",Françoise Clérin-Debart,"GREYC, CNRS UPRESA 6072, Université de Caen, 1...","[{'Scheduling (computing)': 0.50857}, {'Comput...",2,2,4.500000,79914.0,7,9,6.008289
16,475755,[1866426924],[0],Brian B. Avants,University of Pennsylvania,"[{'Pattern recognition': 0.44376}, {'Computer ...",1,0,0.000000,120353.0,0,0,1.089211
17,492030,"[167606103, 2034539869, 2165817097, 2170329425]","[7, 12, 16, 39]",Ralph Neuneier,Siemens AG,"[{'Decentralised system': 0.476}, {'Curve fitt...",4,4,18.500000,41354.0,39,74,8.377315
18,527970,[1492385613],[5],Thilo Pionteck,Darmstadt Univ. of Technology#TAB#,"[{'CAD': 0.45347}, {'Computer science': 0.4387...",1,1,5.000000,77436.0,5,5,3.863306
19,559420,[2188342160],[4],Artiom Alhazov,None,"[{'Bottleneck': 0.56545}, {'Mathematical optim...",1,1,4.000000,82723.5,4,4,2.068880

### Making the feature set (model input)